/*
* @Author: dell
* @Date:   2019-12-11 15:54:59
* @Last Modified by:   dell
* @Last Modified time: 2019-12-12 20:13:23
*/

    *{
		padding: 0;
		margin: 0;
	}
	ul,li{
		list-style: none;
	}
	.box{
		width: 1200px;
		height: 382px;
		border-top:0px ;
		border-bottom: 0px;
		border-left: 2px solid #000;
		border-right:2px solid #000 ;
		margin: 10px auto;
		position: relative;
		overflow: hidden;
	}
	.slider{
		width: 8400px;
		position: absolute;
		left: -1200px;	
	}
	.slide{
		width: 1200px;
		overflow: hidden;
		float: left;
	}
	.box>span{
		display: block;
		width: 30px;
		height: 50px;
		text-align: center;
		cursor: pointer;
		color: ;
		top: 175px;
		line-height: 50px;	
		background: rgb(255,0,0);
		font-size: 30px;
		position: absolute;
		opacity: 0;	
	 }
	 #left{
	 	left:30px ;
	 }
	 #right{
	 	right: 30px;
	 }
	 .nav{
	 	position: absolute;
	 	left:500px ;
	 	bottom: 20px;
	 }
	 .nav>li{
	 	float: left;
	 	width: 20px;
	 	height: 20px;
	 	background:#ccc ;
	 	cursor: pointer;
	 	margin: 0 10px;
	 	border-radius: 50%;
	 	text-align: center;
	 }
	.nav .active{
		background: #f00;
		color: #fff;
	}
  	.box1{
		height: 20px;
		background-color: #ccc;
	}
	.box2{
		width: 1000px;
		height: 15px;
		margin-left: 150px;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	#content{
		text-align: center;
		height: 15px;
		color: red;
		font-size: 10px;
		position: absolute;
		left: 1000px;
	}
	#image{
		position: absolute;
		left: 120px;
		margin-top: 2px;
	} 
